* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(233, 47%, 7%) ;
}
.card {
    background-color: hsl(244, 38%, 16%);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 70%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(375px, 1fr)) ;
    gap: 20px;
}
@media (max-width : 767px)  {
    .card {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding-top: 255px;
    }
    .card .content .foot .top {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card .content .foot .top div {
        margin-bottom: 15px;
    }
    .card .image {
        width: 100%;
        height: 100%;
    }
    .card .image img {
        width: 100%;
        height: 100%;
    }
}
@media (min-width : 768px) and (max-width:991px) {
    .card {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding-top: 383px;
    }
    .card .content .foot .top {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card .content .foot .top div {
        margin-bottom: 15px;
    }
    .card .image {
        width: 100%;
        height: 100%;
    }
    .card .image img {
        width: 100%;
        height: 100%;
    }
}
@media (min-width : 992px) and (max-width:1200px) {
    .card .image {
        width: 100%;
        height: 100%;
    }
    .card {  
        padding-top: 397px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .card .content .foot .top {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card .content .foot .top div {
        margin-bottom: 15px;
    }
    .card .image img {
        width: 100%;
        height: 100%;
    }
}

.card .content {
    text-align: center;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.card .content .header {
    margin-bottom: 30px;
}
.card .content .header h1 {
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%) ;
}
.card .content .header span {
    font-weight: 700;
    color: hsl(277, 64%, 61%) ;
}
.card .content .cont {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-left: 20px;
    margin-bottom: 80px;
}
.card .content .foot .top  {
    display: flex;
    justify-content: space-evenly;
}
.card .content .foot .top  div{
    display: inline-block;
}
.card .content .foot .top h1 {
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%) ;
    font-size: 25px ;
}
.card .content .foot .top div div {
    font-family: "Lexend Deca", sans-serif;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-left: 10px;
}
.card .image {
    position: relative;
}
.card .image img {
    width: 100%;
    height: 100%;
}
.image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: hsla(277, 64%, 61%, 0.471); 
    z-index: 1; 
}



